export BASTION_HOST=[REDACTED]
export DISTRIBUTION_ID=[REDACTED]
export API_ID=[REDACTED]
export AWS_REGION=[REDACTED]
export SERVED_BY_CUMULUS_API=[REDACTED]
export API_STAGE=[REDACTED]
export CUMULUS_BACKEND=[REDACTED]
#export CUMULUS_BACKEND=[REDACTED]

export DIST=[REDACTED]

